# Eclipse
.classpath
.project
.settings/
*/.springBeans
hostme-persistence/src/main/resources/hibernate.cfg.xml

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/bin/

/jdbc.properties