.routeResult {height: 3%; margin: 0.3%; background-color: bisque}
.placeResult {height: 5%; margin: 0.3%; background-color: bisque}
.miniInfo{width: 10%}
.userResult {height: 3%; margin: 0.3%;}
.utilsBtn{width: 4%}