#originPlaceDrop{height: 4%; background-color: lightseagreen}
#waypointsPlacesDrop{height: 4%; background-color: greenyellow}
#destinationPlaceDrop{height: 4%; background-color: lightcoral}
.dragPlace{height: 3%; background-color: #ffcd70}